	.c-button {
		padding: 1.5rem 2rem;
		border-radius: 0.5rem;
		box-shadow: var(--bshadow);
		font-size: var(--fs-md);
		width: fit-content;
		cursor: pointer;

		&.is-primary{
			background-color: var(--clr-accent-500);
			color: var(--clr-primary-900);
			border: none;
		}

		&:disabled {
			opacity: 0.5;
			cursor: not-allowed;
		}
	}