	.c-button {
	    background-color: #21de53;
	    color: #140a29;
	    border: none;
        padding: 1.5rem 2rem;
        border-radius: 0.5rem;
        box-shadow: var(--bshadow);
		font-size: var(--fs-md);
		width: fit-content;
	}