.c-form__group {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    position: relative;

    label {
        color: #281452;

        .is-required {
            color: var(--clr-danger-500);
        }
    }

    input,
    textarea {
        border: 2px solid transparent;
        padding: 0.5rem;
        border-radius: 0.5rem;
        cursor: pointer;
        width: 100%;

        &:focus {
            border: 2px solid #3C1E7B;
            outline: none;
        }

        &.is-invalid {
            border: 2px solid var(--clr-danger-500);
            background: var(--clr-danger-050);
        }
    }

    .c-input__helper-text {
        color: var(--clr-danger-500);
        font-size: var(--fs-base);
    }

    .c-input__helpers {
        display: flex;
        justify-content: space-between;
        width: 100%;
    }

    .c-char__counter {
        font-size: var(--fs-base);
        text-align: end;
    }
}