---
import "../index.scss";
import BaseLayout from "../../layouts/BaseLayout.astro";
import retrato from "../../assets/retrato_blu.png";
import Button from "../../components/button.astro";
import Send from "@lucide/astro/icons/send";
import Languages from "@lucide/astro/icons/languages";
import { getRelativeLocaleUrl } from "astro:i18n";

const Year = new Date().getFullYear();
---

<BaseLayout title="My Portfolio">
	<nav class="c-nav">
		<Languages />
		Available in other languages:
		<ul class="c-nav__list">
			<li class="c-nav__item">
				<a
					href={getRelativeLocaleUrl("es", "/")}
					class="c-nav__item-link c-languages__links">Esp</a
				>
			</li>
			<li class="c-nav__item">
				<a href="#" class="c-nav__item-link c-languages__links">Eng</a>
			</li>
			<li class="c-nav__item">
				<a
					href={getRelativeLocaleUrl("it", "/")}
					class="c-nav__item-link c-languages__links">Ita</a
				>
			</li>
		</ul>
	</nav>
	<div class="parallax"></div>
	<main>
		<section class="c-header">
			<h1>Tomás Cabrer<span class="c-caret__effect">a</span></h1>
			<p class="c-header__subtitle">UX/UI & Web Developer</p>
		</section>
		<section class="c-section" id="sobre-mi">
			<h2 class="c-section__title">Who am I?</h2>
			<div class="c-section__body">
				I'm an IT professional with UX and web development experience.
				I'm able to cover the entire lifecycle of design, from research
				and prototyping (with Figma, Adobe XD) to implementation with
				HTML, SCSS and JavaScript. I outperform in collaboration skills,
				as demonstrated while I was working on massive team projects for
				health insurance services in Puerto Rico.
			</div>
			<img
				src={retrato.src}
				alt="Foto de Tomás Cabrera"
				id="retrato-me"
			/>
		</section>
		<section class="c-section" id="servicios">
			<h2 class="c-section__title">What are my services?</h2>
			<div class="c-section__body">
				As a UX/UI Designer, I offer services from the user
				investigation, wireframing and prototyping, and interfaces
				design, seeking for an optimal user experience. In web
				development, having the knowledge to create front-end
				applications with Angular, HTML, SCSS, JavaScript and jQuery,
				providing functional solutions.
			</div>
		</section>
		<div class="c-call_action">
			<p>
				Your ideal project is in <span>a click</span>
			</p>
			<Button
				className="c-button is-primary"
				onClick="document.getElementById('contacto')?.scrollIntoView({ behavior: 'smooth' })"
				text="Contact me now!"
			>
				<Send />
			</Button>
		</div>
		<div class=""></div>
		<section class="c-section" id="experiencia">
			<h2 class="c-section__title">My experience</h2>
			<div class="c-section__body">
				<p>
					Having a well found trajectory in development front-end, I am
					proficient in technologies such as Angular and JavaScript.
					In addition, I integrate skills in graphic design, UX and
					design web, using tools from the Adobe suite and Figma. My
					focus is on continuous improvement and expansion of my
					knowledge in the development area.
				</p>
			</div>
		</section>
		<section class="c-section" id="contacto">
			<h2 class="c-section__title">Contact me!</h2>
			<div class="c-section__body">
				<p>
					You can find me through LinkedIn clicking
					<a
						href="https://www.linkedin.com/in/tom%C3%A1s-cabrera/"
						target="_blank">here</a
					>, sending me an email to <a
						href="mailto:e.tomas.cabrera@gmail.com"
						>e.tomas.cabrera@gmail.com</a
					>
					or compiling the following form and we will be on touch soon!
				</p>
				<form method="post" id="contact-form">
					<div class="c-form__group">
						<label for="nombre"
							>Name <span class="is-required">*</span></label
						>
						<input type="text" id="nombre" name="nombre" required />
						<span class="c-input__helper-text"></span>
					</div>
					<div class="c-form__group">
						<label for="email"
							>Email <span class="is-required">*</span></label
						>
						<input type="email" id="email" name="email" required />
						<span class="c-input__helper-text"></span>
					</div>
					<div class="c-form__group">
						<label for="telefono"
							>Phone <span class="is-required">*</span></label
						>
						<input
							type="tel"
							id="telefono"
							name="telefono"
							required
						/>
						<span class="c-input__helper-text"></span>
					</div>
					<div class="c-form__group">
						<label for="mensaje"
							>Message <span class="is-required">*</span></label
						>
						<textarea id="mensaje" name="mensaje" required
						></textarea>
						<div class="c-input__helpers">
							<span class="c-input__helper-text"></span>
							<span class="c-char__counter"></span>
						</div>
					</div>
					<Button
						className="is-primary"
						type="submit"
						text="Send message"
						id="submit-form"
					>
						<Send />
					</Button>
					<p id="mensaje-respuesta" hidden></p>
				</form>
			</div>
		</section>
	</main>
	<footer class="c-footer">
		{Year}, Tomás Cabrera. All rights reserved.
	</footer>
</BaseLayout>
<script src="../../scripts/index.js"></script>