---
import { getRelativeLocaleUrl } from "astro:i18n";
import "./index.scss";
import BaseLayout from "../layouts/BaseLayout.astro";
import retrato from "../assets/retrato_blu.png";
import Button from "../components/button.astro";
import Send from "@lucide/astro/icons/send";
import Languages from "@lucide/astro/icons/languages";

const Year = new Date().getFullYear();
---

<BaseLayout title="Mi Portafolio">
	<nav class="c-nav">
		<Languages aria-label={"Idiomas disponibles"} />
		Disponible en otros idiomas:
		<ul class="c-nav__list">
			<li class="c-nav__item">
				<a href="#" class="c-nav__item-link c-languages__links">Esp</a>
			</li>
			<li class="c-nav__item">
				<a
					href={getRelativeLocaleUrl("en", "/")}
					class="c-nav__item-link c-languages__links">Eng</a
				>
			</li>
			<li class="c-nav__item">
				<a
					href={getRelativeLocaleUrl("it", "/")}
					class="c-nav__item-link c-languages__links">Ita</a
				>
			</li>
		</ul>
	</nav>
	<div class="parallax"></div>
	<main>
		<section class="c-header">
			<h1>Tomás Cabrer<span class="c-caret__effect">a</span></h1>
			<p class="c-header__subtitle">UX/UI & Web Developer</p>
		</section>
		<section class="c-section" id="sobre-mi">
			<h2 class="c-section__title">¿Quién soy?</h2>
			<div class="c-section__body">
				Soy un profesional de IT con experiencia en diseño UX y
				desarrollo web, capaz de cubrir el ciclo completo del diseño,
				desde la investigación y prototipado (con Figma, Adobe XD) hasta
				la implementación con HTML, SCSS y JavaScript ES6+. Destaco por
				mi capacidad de colaboración, demostrada en proyectos como la
				integración de prototipos con Angular 17 para empresas de salud
				en Puerto Rico.
			</div>
			<img
				src={retrato.src}
				alt="Foto de Tomás Cabrera"
				id="retrato-me"
			/>
		</section>
		<section class="c-section" id="servicios">
			<h2 class="c-section__title">¿Cuáles son mis servicios?</h2>
			<div class="c-section__body">
				Como Diseñador UX/UI, ofrezco servicios que abarcan la
				investigación de usuarios, la creación de wireframes y
				prototipos, y el diseño de interfaces, buscando siempre una
				experiencia de usuario óptima. En Desarrollo Web, tengo
				experiencia creando aplicaciones front-end con Angular, HTML,
				SCSS, JavaScript y jQuery, brindando soluciones funcionales.
			</div>
		</section>
		<div class="c-call_action">
			<p>
				Tu proyecto ideal está a <span>un click</span>
			</p>
			<Button
				className="c-button is-primary"
				onClick="document.getElementById('contacto')?.scrollIntoView({ behavior: 'smooth' })"
				text="¡Contáctame ahora!"
			>
				<Send />
			</Button>
		</div>
		<div class=""></div>
		<section class="c-section" id="experiencia">
			<h2 class="c-section__title">Mi experiencia</h2>
			<div class="c-section__body">
				<p>
					Con una sólida trayectoria de cuatro años en desarrollo
					front-end, domino tecnologías como Angular y JavaScript.
					Además, integro habilidades en diseño gráfico, UX y diseño
					web, utilizando herramientas de la suite Adobe y Figma. Mi
					enfoque se centra en la mejora continua y la expansión de
					mis conocimientos en el área de desarrollo.
				</p>
			</div>
		</section>
		<section class="c-section" id="contacto">
			<h2 class="c-section__title">¡Contáctame!</h2>
			<div class="c-section__body">
				<p>
					Puedes contactarme a través de LinkedIn haciendo click
					<a
						href="https://www.linkedin.com/in/tom%C3%A1s-cabrera/"
						target="_blank">aquí</a
					>, enviándome un correo a <a
						href="mailto:e.tomas.cabrera@gmail.com"
						>e.tomas.cabrera@gmail.com</a
					>
					o completando el formulario de aquí abajo, y pronto estaremos
					conversando.
				</p>
				<form method="post" id="contact-form">
					<div class="c-form__group">
						<label for="nombre"
							>Nombre <span class="is-required">*</span></label
						>
						<input type="text" id="nombre" name="nombre" />
						<span class="c-input__helper-text"></span>
					</div>
					<div class="c-form__group">
						<label for="email"
							>Email <span class="is-required">*</span></label
						>
						<input type="email" id="email" name="email" />
						<span class="c-input__helper-text"></span>
					</div>
					<div class="c-form__group">
						<label for="telefono"
							>Teléfono <span class="is-required">*</span></label
						>
						<input type="tel" id="telefono" name="telefono" />
						<span class="c-input__helper-text"></span>
					</div>
					<div class="c-form__group">
						<label for="mensaje"
							>Mensaje <span class="is-required">*</span></label
						>
						<textarea id="mensaje" name="mensaje" maxlength="500"
						></textarea>
						<div class="c-input__helpers">
							<span class="c-input__helper-text"></span>
							<span class="c-char__counter"></span>
						</div>
					</div>
					<Button
						className="is-primary"
						type="submit"
						text="Enviar mensaje"
						id="submit-form"
					>
						<Send />
					</Button>
					<p id="mensaje-respuesta" hidden></p>
				</form>
			</div>
		</section>
	</main>
	<footer class="c-footer">
		{Year}, Tomás Cabrera. Todos los derechos reservados.
	</footer>
</BaseLayout>
<script src="../scripts/index.js"></script>
